# App settings
APP_NAME=HuntFact API
APP_DEBUG=false
APP_HOST=0.0.0.0
APP_PORT=8000

# Auth settings
AUTH_DISABLE=false
AUTH_SUPABASE_JWKS_URL=your_supabase_jwks_url_here
AUTH_SUPABASE_ISSUER=your_supabase_issuer_url_here
AUTH_SUPABASE_AUDIENCE=your_supabase_audience_here

# Database settings
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb

# OpenAI settings
OPENAI_API_KEY=your_openai_api_key_here

# RabbitMQ settings
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_TASK_QUEUE_NAME=task_queue
RABBITMQ_WORKFLOW_QUEUE_NAME=workflow_queue
RABBITMQ_MAX_PRIORITY=20
RABBITMQ_PREFETCH_COUNT=1

# AssemblyAI settings
ASSEMBLYAI_API_KEY=your_assemblyai_api_key_here

# LLM settings
LLM_REASONING_MODEL=gpt-4.1
LLM_CHEAP_MODEL=gpt-4.1-nano
LLM_DEBUG=true

# SearXNG settings
SEARXNG_URL=https://searxng.huntfact.com
SEARXNG_TIMEOUT=10

# Chroma settings
CHROMADB_HOST=localhost
CHROMADB_PORT=9275

# Firebase settings
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json

# Firecrawl settings
FIRECRAWL_API_URL=https://firecrawl.huntfact.com
FIRECRAWL_API_KEY=your_firecrawl_api_key_here

# Security settings
SECURITY_ALLOWED_CDN_HOST_SUFFIXES=["fbcdn.net","cdninstagram.com"]
