# ==============================
# Required environment variables
# ==============================

# Database
DATABASE_URL=postgresql+psycopg2://username:password@localhost:5432/huntfact

# External APIs
EXTERNAL_APIS_OPENAI_API_KEY=your_openai_api_key


# ==============================
# Optional environment variables
# ==============================

# App settings
APP_APP_NAME=HuntFact API
APP_DEBUG=false
APP_HOST=0.0.0.0
APP_PORT=8000

# Auth settings(if auth enabled)
AUTH_DISABLE_AUTH=false
AUTH_SUPABASE_JWKS_URL=your_supabase_jwks_url
AUTH_SUPABASE_ISSUER=your_supabase_issuer
AUTH_SUPABASE_AUDIENCE=your_supabase_audience

# RabbitMQ settings
RMQ_RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RMQ_TASK_QUEUE_NAME=task_queue
RMQ_WORKFLOW_QUEUE_NAME=workflow_queue
RMQ_MAX_PRIORITY=20
RMQ_PREFETCH_COUNT=1

# Transcription settings
TRANSCRIPTION_DEEPGRAM_API_KEY=deepgram_api_key
TRANSCRIPTION_ASSEMBLYAI_API_KEY=assemblyai_api_key
TRANSCRIPTION_AZURE_SPEECH_KEY=
TRANSCRIPTION_AZURE_SPEECH_REGION=
TRANSCRIPTION_AZURE_SPEECH_LANGUAGE=en-US
TRANSCRIPTION_AZURE_TRANSCRIPTION_TIMEOUT_SECONDS=300
TRANSCRIPTION_AZURE_SPEECH_BATCH_API_VERSION=v3.2
TRANSCRIPTION_AZURE_BATCH_POLL_INTERVAL_SECONDS=5
TRANSCRIPTION_AZURE_BATCH_INPUT_CONTAINER_SAS_URL=

# Model settings
MODELS_REASONING_MODEL=gpt-4.1
MODELS_CHEAP_MODEL=gpt-4.1-nano
MODELS_LLM_DEBUG=false

# Search settings
SEARCH_SEARXNG_SEARCH_URL=http://localhost:8080/search
SEARCH_SEARXNG_TIMEOUT_SECONDS=10

# Vector store settings
VECTOR_STORE_CHROMA_HOST=localhost
VECTOR_STORE_CHROMA_PORT=9275

# Firebase settings
FIREBASE_FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json

# External APIs settings
EXTERNAL_APIS_FIRECRAWL_API_URL=https://firecrawl.huntfact.com
